.estatisticas{
    background:#2e7d32;
    color:white;
    text-align:center;
}

.numeros{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    margin-top:30px;
}

.numero{
    background:rgba(255,255,255,0.1);
    padding:20px;
    border-radius:12px;
    width:250px;
}

.numero h3{
    font-size:3rem;
}