*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f9f1;
    color:#333;
}

header{
    background:#2e7d32;
    padding:15px 8%;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.banner{
    height:80vh;
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?auto=format&fit=crop&w=1200&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.banner-texto{
    max-width:700px;
}

.banner h2{
    font-size:3rem;
    margin-bottom:15px;
}

.banner p{
    font-size:1.2rem;
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:5px;
    background:#4caf50;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#2e7d32;
}

.secao{
    padding:60px 10%;
    text-align:center;
}

.secao h2{
    color:#2e7d32;
    margin-bottom:20px;
}

.destaque{
    background:#dff0d8;
}

.mensagem{
    text-align:center;
    padding:25px;
    font-size:1.2rem;
    font-weight:bold;
    color:#1b5e20;
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:15px;
}